<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div>
      <button mat-button [routerLink]="['/']">Recent poems</button>
      <button mat-button [routerLink]="['/top']">Top poems</button>
      <button mat-button [routerLink]="['/users']">Users</button>
    </div>
    <div>
      <ng-container class="right" *ngIf="user$ | async; else notAuthenticated; let user;">
        <button *ngIf="user.role === 'ADMIN'" mat-button [routerLink]="['/copyright-management']">Copyright</button>
        <button mat-button button="submit" mat-raised-button color="primary" (click)="openDialog()">
          <mat-icon>add</mat-icon>Add your poem
        </button>
        <mat-form-field class="search-input">
          <input type="text" matInput placeholder="Search" [(ngModel)]="searchQuery" name="search"
            (keydown.enter)="search($event)">
        </mat-form-field>
        <button mat-button class="hello-user" [routerLink]="['/users', user.id]">
          Hello {{ user.name }}!
        </button>
        <a mat-raised-button (click)="logout()">Log out</a>
      </ng-container>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<header>
  <div class="app-name" [routerLink]="['/']">YOUR POEMS</div>
  <div class="nav-tool-items">
    <ng-template #notAuthenticated>
      <a mat-raised-button routerLink="login" routerLinkActive="active" id="loginBtn">Log in</a>
      <a mat-raised-button routerLink="registration" routerLinkActive="active">Register</a>
    </ng-template>
  </div>
</header>