header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.app-name {
  color: #ffffff;
  font-size: 80px;
  font-family: 'Cutive Mono', monospace;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.nav-tool-items {
  text-align: center;
  margin-top: 30px;
  font-family: 'Cutive Mono', monospace;
}

#loginBtn {
  margin-right: 10px;
}

.hello-user {
  color: white;
}

.mat-toolbar-row {
  box-shadow: 0 0 5px black;
  background-color: gray;
  display: flex;
  justify-content: space-between;
}

.search-input {
  margin-left: 20px;
}