<div class="container">
  <mat-card class="card">
    <div class="recentPoems">
      <mat-card-title>
        <h1>{{ user?.name }} Profile</h1>
      </mat-card-title>
    </div>
  </mat-card>
  <app-poems-list [title]="user?.name + '\'s Poems'" showAdd [poems]="user?.poems"></app-poems-list>
</div>