<mat-card id="poemCard" *ngIf="poem">
  <mat-card-header>
    <mat-card-title>
      <a [routerLink]="['/poems', poem.id]">{{poem.title}}</a>
    </mat-card-title>
    <ng-container *ngIf="(user$ | async)?.role === 'ADMIN' || (user$ | async)?.id === poem.author.id">
      <button mat-icon-button (click)="openEditPoemDialog(poem)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="openDeletePoemDialog(poem)">
        <mat-icon>delete</mat-icon>
      </button>
    </ng-container>
    <mat-card-subtitle>{{poem.createdAt | date:'hh:mm:ss yyyy-MM-dd'}}</mat-card-subtitle>
    <mat-card-subtitle>
      <a [routerLink]="['/users', poem.author.id]">{{poem.author.name}}</a>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p class="poem-content">{{poem.content}}</p>
  </mat-card-content>
  <mat-chip-list>
    <mat-chip *ngFor="let tag of poem.tags" [routerLink]="['/search', tag.name]">{{ tag.name }}</mat-chip>
  </mat-chip-list>
  <hr />
  <mat-card-actions>
    <button mat-mini-fab class="like" [class.ania-love]="poem.liked" [matBadge]="poem.likesCount" (click)="toggleLike(poem)">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-button (click)="donate(poem)">DONATE</button>
    <span class="social-media">
      <!-- Sharingbutton Facebook -->
      <a class="resp-sharing-button__link" href="https://facebook.com/sharer/sharer.php?u={{encodedURL}}"
        target="_blank" rel="noopener" aria-label="Facebook">
        <div class="resp-sharing-button resp-sharing-button--facebook resp-sharing-button--medium">
          <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path
                d="M18.77 7.46H14.5v-1.9c0-.9.6-1.1 1-1.1h3V.5h-4.33C10.24.5 9.5 3.44 9.5 5.32v2.15h-3v4h3v12h5v-12h3.85l.42-4z" />
            </svg></div>Facebook
        </div>
      </a>

      <!-- Sharingbutton Twitter -->
      <a class="resp-sharing-button__link"
        href="https://twitter.com/intent/tweet/?text=Check%20this%20out!&url={{encodedURL}}" target="_blank"
        rel="noopener" aria-label="Twitter">
        <div class="resp-sharing-button resp-sharing-button--twitter resp-sharing-button--medium">
          <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path
                d="M23.44 4.83c-.8.37-1.5.38-2.22.02.93-.56.98-.96 1.32-2.02-.88.52-1.86.9-2.9 1.1-.82-.88-2-1.43-3.3-1.43-2.5 0-4.55 2.04-4.55 4.54 0 .36.03.7.1 1.04-3.77-.2-7.12-2-9.36-4.75-.4.67-.6 1.45-.6 2.3 0 1.56.8 2.95 2 3.77-.74-.03-1.44-.23-2.05-.57v.06c0 2.2 1.56 4.03 3.64 4.44-.67.2-1.37.2-2.06.08.58 1.8 2.26 3.12 4.25 3.16C5.78 18.1 3.37 18.74 1 18.46c2 1.3 4.4 2.04 6.97 2.04 8.35 0 12.92-6.92 12.92-12.93 0-.2 0-.4-.02-.6.9-.63 1.96-1.22 2.56-2.14z" />
            </svg></div>Twitter
        </div>
      </a>
    </span>
    <a *ngIf="!showComments" [routerLink]="['/poems', poem.id]">{{poem.comments.length}} comments</a>
  </mat-card-actions>
  <ng-container *ngIf="showComments">
    <ng-container *ngIf="user$ | async">
      <mat-form-field>
        <textarea matInput placeholder="Leave a comment" [(ngModel)]="poem.commentContent"
          name="content_{{poem.id}}"></textarea>
      </mat-form-field>
      <button mat-icon-button (click)="addComment(poem)">
        <mat-icon>send</mat-icon>
      </button>
    </ng-container>
    <div *ngFor="let comment of poem.comments">
      <a [routerLink]="['/users', comment.author.id]">
        <strong>{{comment.author.name}}</strong>
      </a>:
      <span>{{comment.content}}</span>
      <button mat-icon-button *ngIf="(user$ | async)?.role === 'ADMIN' || (user$ | async).id === comment.author.id" (click)="deleteComment(poem, comment.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </ng-container>
</mat-card>