.box {
    margin: 100px auto;
    padding: 20px 40px;
    border-radius:10px;
    max-width:360px;
}

.full-width { 
    width:100%;
}

mat-card-header {
    text-align: center;
    display:block;
    font-weight:700;
}

mat-card-header mat-card-title {
    font-size: 50px;
    font-family: 'Cutive Mono', monospace; 
    font-weight: bold;
}

#header {
    margin-bottom: 40px;
}

.register{
    text-align: center;
}
