<div class="login-wrapper">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title id="header">Register</mat-card-title>
        </mat-card-header>

        <form (submit)="addUser()">
            <mat-card-content>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Username" [(ngModel)]="name" name="name">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Email" [(ngModel)]="email" name="email">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password">
                </mat-form-field>
            </mat-card-content>

            <div class="register">
                <button mat-raised-button>Sign Up</button>
            </div>
        </form>
    </mat-card>
</div>