.wrapper {
    background-image: url("../images/background.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Cutive Mono', monospace;
    min-height: 100%;
    padding-bottom: 40px;
}
