<div class="login-wrapper">
    <mat-card class="box">
        <mat-card-header class="header">
            <mat-card-title>Log in</mat-card-title>
        </mat-card-header>

        <form (submit)="login()">
            <mat-card-content>
                <mat-form-field class="full-width">
                    <input
                        matInput
                        name="login"
                        placeholder="Username"
                        [(ngModel)]="credentials.login"
                    />
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input
                        matInput type="password"
                        name="password"
                        placeholder="Password"
                        [(ngModel)]="credentials.password"
                    />
                </mat-form-field>
            </mat-card-content>
            <div class="login">
                <button mat-raised-button>Log In</button>
            </div>
        </form>
    </mat-card>
</div>