.login-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.box {
    margin: 100px auto;
    padding: 20px 40px;
    width: 100%;
    max-width: 360px;
    border-radius: 10px;
}

.full-width { 
    width:100%;
}

.header {
    display: block;
    text-align: center;
    margin-bottom: 40px;
}

mat-card-header mat-card-title {
    font-size: 50px;
    font-family: 'Cutive Mono', monospace; 
    font-weight: bold;
}

.login{
    text-align: center;
}