<div class="container">
  <div class="content">
    <mat-card class="card">
      <div class="recentPoems">
        <mat-card-title>
          <h1>Users</h1>
        </mat-card-title>
      </div>
      <br>
      <mat-card-content>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="users">

            <!-- IMIE -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> name </th>
              <td mat-cell *matCellDef="let user;"> {{user.name}} </td>
            </ng-container>

            <!--  NAZWISKO -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> email </th>
              <td mat-cell *matCellDef="let user;"> {{user.email}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>actions</th>
              <td mat-cell *matCellDef="let user;">
                <mat-icon [routerLink]="['/users', user.id]">notes</mat-icon>
                <mat-icon *ngIf="(user$ | async)?.role === 'ADMIN'" (click)="deleteUser(user.id)">delete</mat-icon>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
