.card {
    min-width: 80%;
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  a {
    cursor: pointer;
  }

  .mat-icon {
      cursor: pointer;
      margin-right: 15px;
  }

  .mat-header-cell {
    width: 250px;
  }

  table {
    width: 100%;
  }