<mat-card>
  <button mat-raised-button color="primary" (click)="train()">Train new copyright model</button>

  <form class="form">
    <mat-form-field>
      <textarea matInput placeholder="Copyrighted content..." name="content" [(ngModel)]="content"></textarea>
    </mat-form-field>
    <div>
      <button mat-raised-button (click)="add()">Add</button>
    </div>
  </form>

  <mat-list>
    <mat-list-item *ngFor="let content of copyrighted">{{ content }}</mat-list-item>
  </mat-list>
</mat-card>