.example-form {
    display: flex;
    flex-direction: column;
}

.example-form > * {
    width: 100%;
    font-family: 'Cutive Mono', monospace;
    font-size: 30px;
}

.close{
    width: 100%;
    font-size: 20px;
}

.save{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 40px;
    font-size: 20px;
}

.mat-dialog-title {
    font-family: 'Cutive Mono', monospace;
}

