<h1 mat-dialog-title *ngIf="!data?.editFlag">My new poem</h1>
<h1 mat-dialog-title *ngIf="data?.editFlag">edycja</h1>

<div mat-dialog-content>
  <form class="example-form" (ngSubmit)="onSubmit()">
    <mat-form-field [hideRequiredMarker]="false">
      <input matInput [(ngModel)]="title" placeholder="Title" name="title">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Content" required cdkTextareaAutosize #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" [(ngModel)]="content" name="content"></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Tags" [(ngModel)]="tags" name="tags" type="text">
    </mat-form-field>
  </form>
</div>
<div class="actions">
  <button mat-raised-button class="save" (click)="onSubmit()" type="submit" color="primary">Save</button>
  <button mat-raised-button class="close" (click)="onCancel()" color="warn">Cancel</button>
</div>