.card {
  min-width: 80%;
  font-family: 'Cutive Mono', monospace;
}
  
.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

a {
  cursor: pointer;
}

#poemCard {
    box-shadow: 5px 5px 12px 3px #331b00;
    margin-bottom: 30px;
  }
  
  .line{
    width: 50%;
    margin-top: 10px;
    border-bottom: 1px solid black;
    position: absolute;
    }


    .mat-card-content{
      margin-bottom: 50px;
    }

    .mat-icon {
      cursor: pointer;
    }