<h2 mat-dialog-title>Confirm delete</h2>
<mat-dialog-content>Are you sure you want to delete the selected poem?</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button class="buttonYes" mat-button (click)="deletePoem()">Confirm</button>
</mat-dialog-actions>